<div class="card">
  <h4 class="card-header"><%= @event.title.titleize %>
    <% if @event.category %>
      <span class="badge badge-pill ml-2" style="<%= "background-color:#{@event.category.color}; color:white" %>"><%= @event.category.name %></span>
    <% end %>
    <small class="text-muted float-right"><%= "#{@event.start_time.to_s(:day_month_time)} - #{@event.end_time.to_s(:day_month_time)}" %></small></h4>
  <div class="card-body">

    <% if @event.description %>
      <p><strong>Description: </strong><%= @event.description.capitalize %></p>
    <% end %>

    <% if @event.event_file? %>
      <p>Attachment: <%= link_to @event.event_file.original_filename, @event.event_file.url %></p>
    <% end %>

    <div class="row">
        <% if @comments %>
          <div class="col-12 col-md-6 comment-list">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>Comments</th>
                </tr>
              </thead>
              <tbody>
                <% @comments.each do |comment| %>
                  <tr>
                    <td><%= comment.comment.capitalize %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>

      <% if @tasks %>
        <div class="col-12 col-md-6 task-list">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Tasks</th>
                <th>Priority</th>
              </tr>
            </thead>
            <tbody>
              <% @tasks.each do |task| %>
                <tr>
                  <td><%= task.description.capitalize %></td>
                  <td><%= task.priority.capitalize %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>

    <div class="row mt-3">
      <div class="col-3">
        <%= link_to "Edit", edit_event_path(@event), { class: "btn btn-info" } %>
        <%= link_to "Delete", event_path(@event), data: { confirm: "Are you sure?" }, class: "btn btn-danger", method: :delete  %>
      </div>
    </div>
  </div>
</div>