<%= simple_form_for @category do |f| %>
  <%= f.error_notification message: t(:'simple_form.error_notification.default_message', model: "Category") %>

  <ul>
    <% @category.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>

  <div class="form-group row">
    <%= f.input :name, wrapper_html: {class: "col-8"}%>
    <%= f.input :color, as: :minicolors, wrapper_html: {class: "col-4"}, input_html: {class: "form-control", data: {
        minicolors: {theme: :bootstrap, position: :right}}} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, {class: "btn btn-info"}%>
    <%= link_to "Cancel", dashboard_path, {class: "btn btn-secondary"} %>
  </div>
<% end %>