<!DOCTYPE html>
<html>
  <head>
    <title>SimpleCal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
  </head>

  <body>
    <header>
      <%= render partial: "layouts/navbar" %>
    </header>
    <main>
      <div class="container">
        <%= render partial: "layouts/flash_messages", flash: flash %>
        <div class="pt-4">
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
